<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link href="css\styles.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
	<!-- NAV Bar-->
	<!-- NAV Bar-->
	<!-- NAV Bar-->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				<nav> 
					<ul>
					  <li><a href="home.html">Dashboard</a></li>
					  <li><a href="projectListView.html">Projects</a></li>
					  <li><a href="#" class="deactivated">Testing</a></li>
					  <li><a href="#" class="deactivated">Audit View</a></li>
					</ul>
				</nav>
				</div>
			</div>
		</div>
  	</header>
  	<!-- NAV Bar-->
  	<!-- NAV Bar-->
  	<!-- NAV Bar-->
  	
  	<div class="container">
		<div class="row">
			<div class="heading col-sm-3">
				<h1>Dashboard</h1>
			</div>
		</div>
	</div>
	<div class="container darkBG">
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableHeader">Project</p></div>
			<div class="col-xs-3"><p class="tableHeader">Item</p></div>
			<div class="col-xs-3"><p class="tableHeader">Status</p></div>
			<div class="col-xs-3"><p class="tableHeader">Time Remaining</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">AJERAS</p></div>
			<div class="col-xs-3"><p class="tableItem">Change Request Confirmation</p></div>
			<div class="col-xs-3"><p class="tableItem">Missing Documents</p></div>
			<div class="col-xs-3"><p class="tableItemCritical">-10 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">AJERAS</p></div>
			<div class="col-xs-3"><p class="tableItem">Authorization Check</p></div>
			<div class="col-xs-3"><p class="tableItem">Signature Required</p></div>
			<div class="col-xs-3"><p class="tableItemCritical">-2 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">AJERAS</p></div>
			<div class="col-xs-3"><p class="tableItem">SOX Review</p></div>
			<div class="col-xs-3"><p class="tableItem">Missing Documents</p></div>
			<div class="col-xs-3"><p class="tableItemWarn">2 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">AJERAS</p></div>
			<div class="col-xs-3"><p class="tableItem">Generic Account Review</p></div>
			<div class="col-xs-3"><p class="tableItem">Signature Required</p></div>
			<div class="col-xs-3"><p class="tableItemGood">10 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">AJERAS</p></div>
			<div class="col-xs-3"><p class="tableItem">Quarterly SOX Review</p></div>
			<div class="col-xs-3"><p class="tableItem">Awaiting Launch</p></div>
			<div class="col-xs-3"><p class="tableItemGood">15 Days</p></div>
		</div>
		
  	</div>
  	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>