<!DOCTYPE html>
<html>
<head>
<title>AJERAS: Authorization Check</title>
<link href="css\styles.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
	<!-- NAV Bar-->
	<!-- NAV Bar-->
	<!-- NAV Bar-->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				<nav> 
					<ul>
					  <li><a href="home.html">Dashboard</a></li>
					  <li><a href="projectListView.html">Projects</a></li>
					  <li><a href="#" class="deactivated">Testing</a></li>
					  <li><a href="#" class="deactivated">Audit View</a></li>
					</ul>
				</nav>
				</div>
			</div>
		</div>
  	</header>
  	<!-- NAV Bar-->
  	<!-- NAV Bar-->
  	<!-- NAV Bar-->
  	
  	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p><a href="projectListView.html">Projects View</a> - <a href="projectView.html">AJERAS</a> - Authorization Check</p>
			</div>
		</div>
	</div>
 	
  	<div class="container">
		<div class="row">
			<div class="heading col-sm-3">
				<h1>AJERAS</h1>
			</div>
		</div>
	</div>
	
	<div class="container darkBG">
		<!--Process Info-->
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem"><a href="processView.html" class="projectLink">Process: Authorization Check</a></p></div>
			<div class="col-xs-3"><p class="tableItem">Complete By: 01/10/2017</p></div>
			<div class="col-xs-3"><p class="tableItemCritical">-10 Days</p></div>
		</div>
		
		<!--Artifact Header-->
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableHeader">Artifacts</p></div>
		</div>
		<!--Artifact Header-->
		
		<!--Artifact Content-->		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableHeader">Artifact Name</p></div>
			<div class="col-xs-3"><p class="tableHeader">Status</p></div>
			<div class="col-xs-3"><p class="tableHeader">Action</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">Authorization Check Results</p></div>
			<div class="col-xs-3"><p class="tableItem">Waiting for File Upload</p></div>
			<div class="col-xs-3"><p class="tableItem "><a href="#" class="projectButton">+ Upload File</a></p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">Peer Sign Off</p></div>
			<div class="col-xs-3"><p class="tableItem">Waiting for Documentation</p></div>
			<div class="col-xs-3"><p class="tableItem"><a href="#">Sign Off</a></p></div>
		</div>
		<!--Table Content End-->
		
		
		<!--Table Buttons-->
		<div class="row">
			<div class="col-sm-2">
				<a href="#" class="projectButton">+ Add New Artifact</a>
			</div>
			<div class="col-sm-2">
				<a href="#" class="projectButton">~ Remove Artifact</a>
			</div>
		</div>
		<!--Table Buttons-->
		
		<!-- Notes Section -->
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableHeader">Notes</p></div>
		</div>
		<form>
		<div class="row tableRow">
			<div class="col-xs-3"><textarea rows="8" cols="75"></textarea></div>
		</div>
		<input type="submit" value="Save Notes">
		<input type="reset" value="Cancel">
		</form>
  	</div>
  	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>