<!DOCTYPE html>
<html>
<head>
<title>Project: AJERAS</title>
<link href="css\styles.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
	<!-- NAV Bar-->
	<!-- NAV Bar-->
	<!-- NAV Bar-->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				<nav> 
					<ul>
					  <li><a href="home.html">Dashboard</a></li>
					  <li><a href="projectListView.html">Projects</a></li>
					  <li><a href="#" class="deactivated">Testing</a></li>
					  <li><a href="#" class="deactivated">Audit View</a></li>
					</ul>
				</nav>
				</div>
			</div>
		</div>
  	</header>
  	<!-- NAV Bar-->
  	<!-- NAV Bar-->
  	<!-- NAV Bar-->
  	
  	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p><a href="projectListView.html">Projects View</a> - AJERAS</p>
			</div>
		</div>
	</div>
 	
  	<div class="container">
		<div class="row">
			<div class="heading col-sm-3">
				<h1>AJERAS</h1>
			</div>
			
			<div class="col-sm-1 centerArrow">
				<a href="#"><img src="arrowleft.png" width="50" height="50" /></a>
			</div>
			
			<div class="col-sm-3 month">
				<h1>January</h1>
			</div>
			
			<div class="col-sm-1 centerArrow">
				<a href="#"><img src="arrowRight.png" width="50" height="50" /></a>
			</div>
		</div>
	</div>
	
	<div class="container darkBG">
		<!--Table Buttons-->
		<div class="row">
			<div class="col-sm-2">
				<a href="#" class="projectButton">+ Add New Process</a>
			</div>
			<div class="col-sm-2">
				<a href="#" class="projectButton">~ Edit Process</a>
			</div>
		</div>
		<!--Table Buttons-->
		
		<!--Table Header-->
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableHeader">Process</p></div>
			<div class="col-xs-3"><p class="tableHeader">Status</p></div>
			<div class="col-xs-3"><p class="tableHeader">Completion Date</p></div>
			<div class="col-xs-3"><p class="tableHeader">Time Left</p></div>
		</div>
		<!--Table Header-->
		
		<!--Table Content-->
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem"><a href="processView.html" class="projectLink">Authorization Check</a></p></div>
			<div class="col-xs-3"><p class="tableItem">Signature Required</p></div>
			<div class="col-xs-3"><p class="tableItem">01/10/2017</p></div>
			<div class="col-xs-3"><p class="tableItemCritical">-10 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">Change Request Conf.</p></div>
			<div class="col-xs-3"><p class="tableItem">Missing Documents</p></div>
			<div class="col-xs-3"><p class="tableItem">01/18/2017</p></div>
			<div class="col-xs-3"><p class="tableItemCritical">-2 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">SOX Review</p></div>
			<div class="col-xs-3"><p class="tableItem">Missing Documents</p></div>
			<div class="col-xs-3"><p class="tableItem">01/22/2017</p></div>
			<div class="col-xs-3"><p class="tableItemWarn">2 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">Generic Account Review</p></div>
			<div class="col-xs-3"><p class="tableItem">Signature Required</p></div>
			<div class="col-xs-3"><p class="tableItem">01/30/2017</p></div>
			<div class="col-xs-3"><p class="tableItemGood">10 Days</p></div>
		</div>
		
		<div class="row tableRow">
			<div class="col-xs-3"><p class="tableItem">Privilege Assessment</p></div>
			<div class="col-xs-3"><p class="tableItem">Completed</p></div>
			<div class="col-xs-3"><p class="tableItem">01/19/2017</p></div>
			<div class="col-xs-3"><p class="tableItem">Completed</p></div>
		</div>
		<!--Table Content End-->
		
  	</div>
  	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>